.basket-items {
  padding: 16px;
  background: var(--r-bg-panel-color);
  border-radius: 32px;
  margin-bottom: 24px;

  .btn {
    width: 100%;
  }
}

.basket-items__header {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin-bottom: 16px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(100% - 76px);
    height: 1px;
    background: var(--r-basket-line-color);
  }

  span {
    font-weight: 700;
    font-size: 14px;
    flex: 1;
    padding-bottom: 10px;
  }

  .toggle {
    margin-bottom: 5px;
  }
}

.basket-item {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin-bottom: 16px;
  position: relative;

  &:not(:last-child):after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(100% - 76px);
    height: 1px;
    background: var(--r-basket-line-color);
  }
}

.basket-item__image {
  width: 60px;
  min-width: 60px;
  height: 60px;
  min-height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    border-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.active {
    .basket-item__checkbox {
      background: var(--pink);

      &:after {
        content: '';
        background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgNi44MzMzM0w1LjM3NSAxMUwxNSAxIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K");
        background-size: contain;
        background-repeat: no-repeat;
        width: 14px;
        height: 10px;
      }
    }
  }

  svg {
    width: 50%;
    height: 50%;
    path {
      stroke: var(--pink);
    }
  }
}

.basket-item__checkbox {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: #FFF;
  width: 32px;
  height: 32px;
  min-width: 24px;
  min-height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.basket-item__info {
  display: flex;
  gap: 12px;
  align-items: center;
  flex: 1;
  padding-bottom: 10px;
}

.basket-item__title {
  font-weight: 600;
  flex: 1;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  span {
    font-weight: 700;
    font-size: 12px;
    color: #898989;

    &.basket-item__paid {
      color: #00C600;
    }
  }
}

.basket-item__price {
  font-weight: 800;
  font-size: 18px;
  color: var(--pink);
}

.basket-item__delete {
  cursor: pointer;
}

.basket-items__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.basket-items__footer_title {
  font-weight: 600;
  font-size: 18px;
}

.basket-items__footer_price {
  font-weight: 700;
  font-size: 18px;
}

.basket__subtitle {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 16px;
}

.basket-form {
  padding: 16px;
  background: var(--r-bg-panel-color);
  border-radius: 32px;
  margin-bottom: 100px;
}

.basket-form__header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 22px;

  svg {
    path {
      stroke: var(--pink);
    }
  }
}

.basket-form__type {
  font-weight: 600;
  font-size: 18px;

  a {
    color: var(--pink);
    border-bottom: 1px dotted var(--pink);
    cursor: pointer;
    margin-left: 5px;
  }
}

.basket-form__textarea {
  background: var(--r-textarea-bg-color);
  padding: 12px 16px;
  border: 1px solid var(--r-textarea-border-color);
  border-radius: 12px;
  margin-bottom: 20px;

  textarea {
    border-bottom: 1px solid var(--r-textarea-border-bottom-color);
    margin-bottom: 4px;
    font-size: 13px;
    height: 55px;
    width: 100%;
  }
}

.basket-form__prompt {
  font-weight: 500;
  font-size: 12px;
  color: var(--r-textarea-prompt-text-color);
}

.basket-form__footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--r-bg-panel-color);
  border-top: 1px solid var(--r-fixed-border-top-color);
  z-index: 5;
  padding: 12px 16px 24px;

  .btn {
    width: 100%;
    height: 50px;
  }
}

.basket__empty {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.basket-confirm {
  text-align: center;

  .btn {
    width: 100%;
  }
}

.basket-confirm__icon {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00C600;
  box-shadow: 0 20px 60px -15px rgba(0, 198, 0, 0.5);
  border-radius: 200px;
  margin: 0 auto;
  margin-bottom: 32px;

  &.error {
    background: #D2015F;
    box-shadow: 0 20px 60px -15px rgba(210, 1, 95, 0.5);
  }
}

.basket-confirm__title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 16px;
}

.basket-confirm__descr {
  font-weight: 400;
  font-size: 14px;
  color: #898989;
  margin-bottom: 48px;
}

.basket-confirm-loading {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}