.catalog {
  margin-bottom: 80px;
  background: #f9f4f0;

  &.catalog--search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    z-index: 5;

    .catalog-search__open svg path {
      fill: #D2015F;
    }

    .catalog-search {
      max-width: 100%;
      width: 100%;
    }
  }
}

.catalog-section {
  &.fixed {
    height: 54px;

    .catalog-section__wrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: #F9F4F1;
      padding: 5px 0;
    }
  }
}

.catalog-section__wrapper {
  display: flex;
  align-items: center;
  overflow-x: scroll;
}

.catalog-section__wrapper::-webkit-scrollbar {
  display: none;
}

.catalog-section__item {
  padding: 12px;
  font-size: 22px;
  opacity: 0.36;
  transition: opacity 200ms linear;
  white-space: nowrap;
  cursor: pointer;

  &.active, &:hover {
    opacity: 1;
  }
}

.catalog-items {
  background: #FFFFFF;
  border-radius: 32px;
  padding: 16px;
  margin-bottom: 12px;
  scroll-margin-top: 60px;
}

.catalog-items__title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 16px;
}

.catalog-items__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

@media screen and (min-width: 756px) {
  .catalog-items__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

.item-card____btn.counter {
  .btn {
    min-height: 36px;
    width: 120px;
  }

  .counter__minus, .counter__plus {
    height: 36px;
  }
}

.item-card__image {
  height: 170px;
  margin-bottom: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }

  svg {
    width: 100px;
    height: 100px;

    path {
      stroke: #cd005d;
    }
  }
}

.item-card__info {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;
}

.item-card__price {
  font-weight: 800;
  font-size: 18px;
}

.item-card__weight {
  font-size: 12px;
  color: #898989;
}

.item-card__title {
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 36px;
  cursor: pointer;
}

.item-detail-popup__close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #F7F6F4;
  z-index: 10;
}

.item-detail__header {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  svg {
    width: 100px;
    height: 100px;

    path {
      stroke: #cd005d;
    }
  }
}

.item-detail__wrapper {
  margin-top: 370px;
  background: #FFFFFF;
  border-radius: 32px 32px 0 0;
  position: relative;
  padding: 16px;
  padding-bottom: 60px;
}

.item-detail__tags {
  display: flex;
  gap: 4px;
  margin-bottom: 12px;
}

.item-detail__title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 8px;
}

.item-detail__descr {
  font-size: 13px;
  color: #898989;
  margin-bottom: 16px;
}

.item-detail__info {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.item-detail__price {
  font-weight: 800;
  font-size: 18px;
}

.item-detail__weight {
  font-size: 12px;
  color: #898989;
}

.item-detail__btn {
  width: 100%;
  margin-bottom: 20px;

  .btn {
    width: 100%;
    height: 50px;
  }

  .btn--border {
    justify-content: space-between;
  }
}

.item-detail__line {
  background: var(--line-color);
  height: 1px;
  width: calc(100% + 32px);
  margin-left: -16px;
  margin-bottom: 20px;
}

.item-detail__subtitle {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 16px;
}

.buy-with {
  margin-bottom: 20px;
}

.buy-with__wrapper {
  display: flex;
  gap: 16px;
  overflow: scroll;
  margin-left: -32px;
  position: relative;
  left: 16px;
}

.buy-with__wrapper::-webkit-scrollbar {
  display: none;
}

.buy-with-item {
  display: flex;
  gap: 12px;

  &:first-child {
    margin-left: 16px;
  }
}

.buy-with-item__image {
  min-width: 90px;
  max-width: 90px;
  min-height: 90px;
  max-height: 90px;
  position: relative;
  cursor: pointer;

  img {
    border-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .tag {
    position: absolute;
    top: 6px;
    left: 6px;
    font-size: 10px;
  }
}

.buy-with-item__info {
  width: 140px;
}

.buy-with-item__title {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 36px;
  cursor: pointer;
}

.buy-with-item__btn {
  .btn--border {
    width: 120px;
  }

  .btn--pink {
    width: 120px;
    justify-content: space-between;
  }
}

.item-detail-review {
  margin-bottom: 20px;
}

.item-detail-review__btn {
  width: 100%;
  height: 50px;
  margin-bottom: 16px;
}

.item-detail-review__rating {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.rating-item {
  border: 1px solid #F2F1EF;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;
  height: 78px;
  margin-bottom: 20px;
  cursor: pointer;

  img {
    width: 32px;
  }

  span {
    font-weight: 600;
    font-size: 13px;
  }

  &.active {
    &.rating-item--badly {
      background: rgba(210, 1, 95, 0.1);
      color: #D2015F;
    }
    &.rating-item--fine {
      background: rgba(0, 187, 228, 0.1);
      color: #00BBE4;
    }
    &.rating-item--great {
      background: rgba(0, 198, 0, 0.1);
      color: #00C600;
    }
  }
}

.review-success {
  background: rgba(0, 198, 0, 0.1);
  border: 1px solid rgba(107, 190, 0, 0.2);
  border-radius: 12px;
  padding: 20px 24px;
  display: flex;
  align-items: center;
  gap: 26px;
  margin-bottom: 16px;
}

.review-success__icon {
  width: 26px;
}

.review-success__title {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 8px;
}

.review-success__descr {
  font-weight: 400;
  font-size: 14px;
}

.item-detail-review__textarea {
  padding: 12px 16px;
  border: 1px solid #C8C8C8;
  border-radius: 12px;
  margin-bottom: 20px;

  textarea {
    border-bottom: 1px solid #F2F1EF;
    margin-bottom: 4px;
    font-size: 13px;
    height: 55px;
    width: 100%;
  }
}

.item-detail-review__prompt {
  font-weight: 500;
  font-size: 12px;
  color: #898989;
}

.review-services__text {
  font-size: 13px;
  text-align: center;
  color: #898989;
  margin-bottom: 16px;
}

.review-services__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-bottom: 20px;
}

.review-services__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  border: 1px solid #333333;
  border-radius: 12px;

  img {
    height: 18px;
  }
}

.review-item__info {
  margin-bottom: 20px;
}

.review-item {
  padding: 12px 16px 12px 12px;
  background: #F7F6F4;
  border-radius: 12px;
  margin-bottom: 12px;
  display: flex;
  gap: 12px;
}

.review-item__icon {
  width: 32px;

  img {
    width: 100%;
  }
}

.review-item__header {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 8px;
}

.review-item__title {
  font-weight: 600;
  font-size: 13px;
}

.review-item__date {
  font-weight: 400;
  font-size: 12px;
  color: #898989;
}

.review-item__text {
  font-size: 13px;
}

.item-detail__footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #FFFFFF;
  border-top: 1px solid #F2F1EF;
  z-index: 5;
  padding: 12px 16px 24px;

  .item-detail__btn {
    margin-bottom: 0;
  }
}

.item-detail__preloader {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter {
  user-select: none;

  .btn {
    padding: 0;
    min-height: 42px;
  }

  .btn--border {
    svg path {
      fill: var(--pink);
    }
  }
}

.counter__minus, .counter__plus {
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
}

.catalog-search {
  display: flex;
  align-items: center;
  gap: 16px;
  max-width: 45px;
  position: relative;
  padding: 0;
}

.catalog-search__input {
  flex: 1;

  input {
    width: calc(100% - 20px);
  }
}

.catalog-search__close {
  position: absolute;
  right: 10px;
  top: 5px;
  line-height: 15px;
  padding: 10px;
}

.catalog-search__open {
  line-height: 20px;
  padding: 12px;
}