@import 'utils/vars';
@import 'utils/reset';


@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-ExtraLight.ttf") format("woff"), url("../fonts/Manrope-ExtraLight.ttf") format("truetype");
    font-display: swap;
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Light.ttf") format("woff"), url("../fonts/Manrope-Light.ttf") format("truetype");
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}
/*@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Regular.ttf") format("woff"), url("../fonts/Manrope-Regular.ttf") format("truetype");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}*/
@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Medium.ttf") format("woff"), url("../fonts/Manrope-Medium.ttf") format("truetype");
    font-display: swap;
    font-weight: 400 500;
    font-style: normal;
}
@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-SemiBold.ttf") format("woff"), url("../fonts/Manrope-SemiBold.ttf") format("truetype");
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Bold.ttf") format("woff"), url("../fonts/Manrope-Bold.ttf") format("truetype");
    font-display: swap;
    font-weight: bold 700;
    font-style: normal;
}
@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-ExtraBold.ttf") format("woff"), url("../fonts/Manrope-ExtraBold.ttf") format("truetype");
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}


:root {
    --black: #0C0806;
    --white: #ffffff;
    --red: #ED2424;
    --pink: #D2015F;
    --pink-hover: #ab0c4f;
    --line-color: #F2F1EF;
}

:root:not(.dark) {
    --f7-page-bg-color: #F9F4F1;
    --r-main-bg-color: #F9F4F1;
    --r-text-color: #1F2226;
    --r-bg-panel-color: #fff;
    --r-avatar-border-color: #F7F6F4;
    --r-close-bg-color: #F7F6F4;
    --r-icon-color: #111;
    --r-btn-border-text-color: #434A54;
    --r-textarea-bg-color: transparent;
    --r-textarea-border-color: #C8C8C8;
    --r-textarea-border-bottom-color: #F2F1EF;
    --r-textarea-prompt-text-color: #898989;
    --r-swipe-handler-color: #e6e6e6;
    --r-line-color: #F2F1EF;
    --r-review-bg-color: #F7F6F4;
    --r-review-bg-active-color: #333;
    --r-basket-line-color: #F2F1EF;
    --r-fixed-border-top-color: #F2F1EF;
    --r-event-date-bg-color: #F2F1EF;

    .preloader-icon-stop-end {
        stop-color:var(--pink);
    }
}

:root.dark {
    --f7-page-bg-color: #111;
    --r-main-bg-color: #111;
    --r-text-color: #fff;
    --r-bg-panel-color: #1E1E1F;
    --r-avatar-border-color: #333;
    --r-close-bg-color: #333;
    --r-icon-color: #fff;
    --r-btn-border-text-color: #fff;
    --r-textarea-bg-color: #333;
    --r-textarea-border-color: transparent;
    --r-textarea-border-bottom-color: #656666;
    --r-textarea-prompt-text-color: #C8C8C8;
    --r-swipe-handler-color: #5d5d5d;
    --r-line-color: #1E1E1F;
    --r-review-bg-color: #333;
    --r-review-bg-active-color: #FC0077;
    --r-basket-line-color: #333;
    --r-fixed-border-top-color: #333;
    --r-event-date-bg-color: #1E1E1F;
}

html {
    line-height: $mainLineHeight;
    font-size: $mainFontSize;
    color: var(--r-text-color);
    height: 100%;
    /*@media screen and (max-width: $desktopWidth) {
        font-size: 16px;
    }
    @media screen and (max-width: $tableWidth) {
        font-size: 15px;
    }
    @media screen and (max-width: $phoneWidth) {
        font-size: 14px;
    }*/

    ::-webkit-scrollbar, > * ::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    ::-webkit-scrollbar-track, > * ::-webkit-scrollbar-track {
        border-radius: 4px;
        background-color: #e4e7eb;
    }

    ::-webkit-scrollbar-thumb, > * ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background: #b8babc;
    }

    &.overflow-y-hidden {
        overflow-y: hidden !important;
    }
}

body {
    font-family: $mainFont;
    font-size: $mainFontSize;
    font-weight: $mainFontWeight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    background-color: #F9F4F1;
    color: var(--r-text-color);
    min-width: 320px;
    box-sizing: border-box;
    text-align: left;
    overflow: auto;
    max-width: 991px;
    transform: translate3d(0, 0, 0);
    margin: 0 auto;
    transition: background 0.3s ease-in-out;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    outline: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    color: #1F2226;
    text-decoration: none;
    transition: 200ms linear;

    &:hover {
        color: var(--orange);
    }
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

svg, path {
    transition: 200ms linear;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: 200ms linear;
}

.container {
    position: relative;
    flex: 0 0 auto;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    max-width: $desktopWidth;
    /*@media screen and (max-width: $desktopWidth) {
        padding: 0 16px;
    }*/
}

.padding-side {
    padding: 0 16px;
}

.preloader-icon {
    width: 50px;
    height: 50px;

    img, svg {
        width: 50px;
        height: 50px;
        animation: rotating .8s linear infinite;
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.swipe-handler {
    height: 36px;
    padding-top: 17px;
    position: absolute;
    left: 0;
    width: 100%;
    top: -10px;
    cursor: pointer;
    z-index: 10501;
    background: var(--r-bg-panel-color);
}

.swipe-handler__icon {
    width: 45px;
    height: 4px;
    background: var(--r-swipe-handler-color);
    border-radius: 60px;
    margin: 0 auto;
}

.app-preloader {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-view {
    height: 100%;
}

.app-empty-table {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

.hide {
    display: none;
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

@import 'framework7';
@import 'home';
@import 'waiter';
@import 'catalog';
@import 'basket';
@import 'order';
@import 'events';
@import 'common/_common';

