/uploads/
/upload/
/upload_/
/upload
/xcache/
/files/
/cat/
.idea/
.bk/
.local/
.config/
.cache/
/bitrix/
/cgi-bin/
/virtual/
/tour/
/tour2/
.composer/
/vendor

#хитрость для garm и utilites чтобы оставить php файлы
!_garm/
_garm/*
!_garm/*.php
!_garm/methods/*.php
/utilites/
/composer.*
/img
/download
/local/php_interface/vendor/
/.ssh

#files#
.mysql_history
.bash_history
.lesshst
robots.txt
dbconn.php
.htaccess
*.log
*.txt
*.xml
*.dt
*.gif
*.bmp
*.ppt
*.pptx
*.doc
*.docx
*.xls
*.xlsx
*.pdf
*.csv
*.zip
*.raryum
*.tar.gz
*.gz
*.tar
*.bak
*.old
*.sql
google*.html
yandex*.html
web.config
.settings.php
test.php
deploy.sh

.DS_Store
node_modules
/dist
/js
/css
/fonts

# env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
lerna-debug.log*

dist
dist-ssr
coverage
*.local


/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea

/api/static/
phpstorm.config.js