// Font
$mainFont: 'Manrope', Helvetica, Arial, sans-serif;

// Color
$mainFontColor: #1F2226;
$designColor: #FC5B21;
$designHoverColor: #FF7E35;

// Size
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$desktopWidth: 820px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;
