.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 15px;
    min-height: 50px;
    line-height: 1;
    cursor: pointer;
    border-radius: 16px;
    transition: 200ms linear;
    color: #fff;
    gap: 12px;
    text-transform: none;

    /*svg, path {
        fill: var(--pink);
    }*/
}

.btn--gray {
    background: #333333;
    color: #fff;

    &:hover {
        background: #0e0e0e;
        color: #fff;
    }

    &.active {
        background: transparent;
        border: 1px solid #333333;
        color: #333333;

        path {
            fill: #434A54;
        }

        path[stroke] {
            stroke: #434A54;
        }
    }
}

.btn--pink {
    /*background: #FD7621;
    border: 1px solid #DD6B24;*/
    background: var(--pink);
    color: var(--btn-text-color);

    &:hover {
        background: var(--pink-hover);
    }

    &.active {
        background: transparent;
    }

    svg:not(.svg-fill) {
        path {
            stroke: var(--btn-text-color);
        }
    }
    svg.svg-fill {
        path {
            fill: var(--btn-text-color);
        }
    }
}

.btn--border {
    background: transparent;
    border: 2px solid var(--pink);;
    color: var(--r-btn-border-text-color);
    font-weight: 700;

    &:hover {
        border-color: var(--pink-hover);
    }

    &.active {
        border-color: var(--pink-hover);
    }
}

.btn--disabled {
    background: transparent;
    border: 2px solid #8b8989;;
    color: #8b8989;
    font-weight: 700;
}

.btn--arrow {
    position: relative;
    justify-content: flex-start;
    &:after {
        content: '';
        transform: translate(-50%, -40%) rotate(45deg);
        width: 10px;
        height: 10px;
        border-bottom: 2px solid var(--btn-text-color);
        border-right: 2px solid var(--btn-text-color);
        position: absolute;
        right: 20px;
    }
}