.tag {
    background: #00C600;
    border-radius: 12px;
    padding: 2px 10px;
    color: #fff;
    font-weight: 800;
    font-size: 11px;
    text-transform: uppercase;
}

.tag--green {
    background: #00C600;
}

.tag--purple {
    background: #D035EA;
}